.card {
  background: var(--theme-box-background);
  border-radius: 5px;
  padding: 26px 30px 19px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 21px;
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: var(--theme-box-hover-background);
  }

  .indicatorContainer {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .unit {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: var(--theme-seconday-color);
    }
  }

  .counterContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .count {
      font-weight: bold;
      font-size: 32px;
      line-height: 39px;
      color: var(--theme-primary-color);
    }

    svg {
      margin-right: 2px;
    }
  }
}
