
.card {
  position: relative;
  background: #F1F3FA;
  border-radius: 5px;
  overflow: hidden;
  padding: 32px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--card-bar-color);
    width: 100%;
    height: 4px;
    content: "";
  }

  &:hover {
    background: #E1E4F0;
  }

  .username {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #63687D;
    display: flex;
    align-items: center;
    grid-gap: 8px;
    margin-bottom: 24px;

    > svg {
      width: 20px;
      height: 20px;
    }
  }

  .count {
    font-weight: bold;
    font-size: 56px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2px;
    color: #1D1F29;
    margin-bottom: 9px;
  }

  .indicator {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #63687D;
    margin-bottom: 25px;
  }
}
