@import '~include-media/dist/include-media';

$breakpoints: (mobile: 568px, tablet: 768px, desktop: 992px);

.light {
  --theme-background: #FFFFFF;
  --theme-top-box-background: #F7F9FF;
  --theme-top-box-border-color: #848BAB;
  --theme-primary-color: #1D1F29;
  --theme-seconday-color: #63687D;
  --theme-box-background: #F1F3FA;
  --theme-box-hover-background: #E1E4F0;
}

.dark {
  --theme-background: #1D1F29;
  --theme-top-box-border-color: #333A55;
  --theme-top-box-background: #20222F;
  --theme-primary-color: #FFFFFF;
  --theme-seconday-color: #8C98C6;
  --theme-box-background: #252B42;
  --theme-box-hover-background: #333A55;
}
